</main>
<footer class="footer">
  <span>非官方同人原型。SDE 数据需由服务器导入，玩法数值为本项目派生。</span>
  <span id="presence">离线</span>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/app.js" type="module"></script>
</body>
</html>
