<%- include('../partials/head', { title, active }) %>
<%- include('../partials/nav', { user, active }) %>
<section class="panel">
  <h1>排行榜</h1>
  <div id="leaderboard" class="grid three"></div>
</section>
<%- include('../partials/footer') %>
